/* Specific styling for the homepage. */

main {
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* FLEXBOX SUB-ELEMENTS */

header {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    position: relative;

    text-align: center;
    margin: 0;
}
header h1 {
    position: relative;

    margin: 0;
    transition: color 0.5s;
    animation: floaty 1.4s infinite alternate;
}
@keyframes floaty {
    from {bottom: 0;}
    to {bottom: 0.6rem;}
}

nav {
    justify-content: center;
    align-items: center;

    padding: 0.625rem 0 0 0;
}
nav a {
    position: relative;
    color: black;

    bottom: 0;
    transition: bottom 0.5s;
}

/* MEDIA QUERIES */

@media (hover: hover) {
    header h1:hover {
        color: #5a9296;
    }

    nav a:hover {
        background-color: black;
        color: white;
        bottom: 0.15rem;
    }
}

@media screen {
    header h1 {
        font-size: 8rem;
        line-height: 7rem;
    }

    nav a {
        margin: 0 0.625rem 0.625rem 0.625rem;
    }
}

@media screen and (max-width:50rem) {
    header h1 {
        font-size: 5rem;
        line-height: 4.5rem;
    }

    nav a {
        margin: 0 0.4rem 0.4rem 0.4rem;
        font-size: 1.5rem;
    }

    .ground-scale {
        width: 25rem;
    }
}

@media screen and (max-width:31.25rem) {
    header h1 {
        font-size: 3rem;
        line-height: 2.5rem;
    }

    nav {
        flex-flow: column;
    }
    nav a {
        margin: 0 0.4rem 0.4rem 0.4rem;
        font-size: 1.3rem;
    }

    .ground-scale {
        width: 15rem;
    }
}
