/* Specific styling for the homepage. */

main {
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* FLEXBOX SUB-ELEMENTS */

header {
    display: flex;
    flex-flow: column;
    position: relative;

    text-align: center;
    margin: 0;
}
header h1 {
    position: relative;

    margin: 0;
    transition: color 0.5s;
    animation: floaty 1.4s infinite alternate;
}
@keyframes floaty {
    from {bottom: 0;}
    to {bottom: 0.6rem;}
}

nav {
    justify-content: center;
    align-items: center;

    padding: 0.625rem 0 0 0;
}
nav a {
    position: relative;
    color: black;

    bottom: 0;
    transition: bottom 0.5s;
}

/* DECORATION. Note that these are absolute relative to the header. */

.deco {
    position: absolute;
}
.circle {
    background-color: #cecece;
    border-radius: 50%;
    opacity: 0.3;
}

/* MEDIA QUERIES */

@media (hover: hover) {
    header h1:hover {
        color: #5a9296;
    }

    nav a:hover {
        background-color: black;
        color: white;
        bottom: 0.15rem;
    }
}

@media screen {
    header h1 {
        font-size: 8rem;
        line-height: 7rem;
    }

    nav a {
        margin: 0 0.625rem 0.625rem 0.625rem;
    }

    .block1 {
        bottom: 100px;
        right: -5%;
    }
    .block2 {
        bottom: 160px;
        right: 7%;
        height: 3rem;
        width: 3rem;
    }
    .c1 {
        left: -12%;
        height: 9rem;
        width: 9rem;
        bottom: 111px;
    }
    .c2 {
        left: -20%;
        height: 6rem;
        width: 6rem;
        bottom: 50px;
    }
}

@media screen and (max-width:50rem) {
    header h1 {
        font-size: 5rem;
        line-height: 4.5rem;
    }

    nav a {
        margin: 0 0.4rem 0.4rem 0.4rem;
        font-size: 1.5rem;
    }

    .ground-scale {
        width: 25rem;
    }

    .block1 {
        bottom: 70px;
        right: -5%;
        height: 3rem;
        width: 3rem;
    }
    .block2 {
        bottom: 115px;
        right: 9%;
        height: 2rem;
        width: 2rem;
    }
    .c1 {
        left: -12%;
        height: 7rem;
        width: 7rem;
        bottom: 80px;
    }
    .c2 {
        left: -20%;
        height: 4rem;
        width: 4rem;
        bottom: 48px;
    }
}

@media screen and (max-width:31.25rem) {
    header h1 {
        font-size: 3rem;
        line-height: 2.5rem;
    }

    nav {
        flex-flow: column;
    }
    nav a {
        margin: 0 0.4rem 0.4rem 0.4rem;
        font-size: 1.3rem;
    }

    .ground-scale {
        width: 15rem;
    }

    .block1 {
        bottom: 40px;
        right: -6%;
        height: 2rem;
        width: 2rem;
    }
    .block2 {
        bottom: 70px;
        right: 9%;
        height: 1.25rem;
        width: 1.25rem;
    }
    .c1 {
        left: -14%;
        height: 4rem;
        width: 4rem;
        bottom: 47px;
    }
    .c2 {
        left: -19%;
        height: 2rem;
        width: 2rem;
        bottom: 30px;
    }
}
